Options +MultiViews
Options -Indexes
<IfModule mod_mime.c>
    AddType text/css .css
    AddType application/x-javascript .js
    AddType text/x-component .htc
    AddType text/html .html .htm
    AddType text/richtext .rtf .rtx
    AddType image/svg+xml .svg .svgz
    AddType text/plain .txt
    AddType text/xsd .xsd
    AddType text/xsl .xsl
    AddType text/xml .xml
    AddType video/asf .asf .asx .wax .wmv .wmx
    AddType video/avi .avi
    AddType image/bmp .bmp
    AddType application/java .class
    AddType video/divx .divx
    AddType application/msword .doc .docx
    AddType application/vnd.ms-fontobject .eot
    AddType application/x-msdownload .exe
    AddType image/gif .gif
    AddType application/x-gzip .gz .gzip
    AddType image/x-icon .ico
    AddType image/jpeg .jpg .jpeg .jpe
    AddType application/vnd.ms-access .mdb
    AddType audio/midi .mid .midi
    AddType video/quicktime .mov .qt
    AddType audio/mpeg .mp3 .m4a
    AddType video/mp4 .mp4 .m4v
    AddType video/mpeg .mpeg .mpg .mpe
    AddType application/vnd.ms-project .mpp
    AddType application/x-font-otf .otf
    AddType application/vnd.oasis.opendocument.database .odb
    AddType application/vnd.oasis.opendocument.chart .odc
    AddType application/vnd.oasis.opendocument.formula .odf
    AddType application/vnd.oasis.opendocument.graphics .odg
    AddType application/vnd.oasis.opendocument.presentation .odp
    AddType application/vnd.oasis.opendocument.spreadsheet .ods
    AddType application/vnd.oasis.opendocument.text .odt
    AddType audio/ogg .ogg
    AddType application/pdf .pdf
    AddType image/png .png
    AddType application/vnd.ms-powerpoint .pot .pps .ppt .pptx
    AddType audio/x-realaudio .ra .ram
    AddType application/x-shockwave-flash .swf
    AddType application/x-tar .tar
    AddType image/tiff .tif .tiff
    AddType application/x-font-ttf .ttf .ttc
    AddType audio/wav .wav
    AddType audio/wma .wma
    AddType application/vnd.ms-write .wri
    AddType application/vnd.ms-excel .xla .xls .xlsx .xlt .xlw
    AddType application/zip .zip
</IfModule>
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css A31536000
    ExpiresByType application/x-javascript A31536000
    ExpiresByType text/x-component A31536000
    ExpiresByType text/html A3600
    ExpiresByType text/richtext A3600
    ExpiresByType image/svg+xml A3600
    ExpiresByType text/plain A3600
    ExpiresByType text/xsd A3600
    ExpiresByType text/xsl A3600
    ExpiresByType text/xml A3600
    ExpiresByType video/asf A31536000
    ExpiresByType video/avi A31536000
    ExpiresByType image/bmp A31536000
    ExpiresByType application/java A31536000
    ExpiresByType video/divx A31536000
    ExpiresByType application/msword A31536000
    ExpiresByType application/vnd.ms-fontobject A31536000
    ExpiresByType application/x-msdownload A31536000
    ExpiresByType image/gif A31536000
    ExpiresByType application/x-gzip A31536000
    ExpiresByType image/x-icon A31536000
    ExpiresByType image/jpeg A31536000
    ExpiresByType application/vnd.ms-access A31536000
    ExpiresByType audio/midi A31536000
    ExpiresByType video/quicktime A31536000
    ExpiresByType audio/mpeg A31536000
    ExpiresByType video/mp4 A31536000
    ExpiresByType video/mpeg A31536000
    ExpiresByType application/vnd.ms-project A31536000
    ExpiresByType application/x-font-otf A31536000
    ExpiresByType application/vnd.oasis.opendocument.database A31536000
    ExpiresByType application/vnd.oasis.opendocument.chart A31536000
    ExpiresByType application/vnd.oasis.opendocument.formula A31536000
    ExpiresByType application/vnd.oasis.opendocument.graphics A31536000
    ExpiresByType application/vnd.oasis.opendocument.presentation A31536000
    ExpiresByType application/vnd.oasis.opendocument.spreadsheet A31536000
    ExpiresByType application/vnd.oasis.opendocument.text A31536000
    ExpiresByType audio/ogg A31536000
    ExpiresByType application/pdf A31536000
    ExpiresByType image/png A31536000
    ExpiresByType application/vnd.ms-powerpoint A31536000
    ExpiresByType audio/x-realaudio A31536000
    ExpiresByType image/svg+xml A31536000
    ExpiresByType application/x-shockwave-flash A31536000
    ExpiresByType application/x-tar A31536000
    ExpiresByType image/tiff A31536000
    ExpiresByType application/x-font-ttf A31536000
    ExpiresByType audio/wav A31536000
    ExpiresByType audio/wma A31536000
    ExpiresByType application/vnd.ms-write A31536000
    ExpiresByType application/vnd.ms-excel A31536000
    ExpiresByType application/zip A31536000
</IfModule>
<IfModule mod_deflate.c>
    <IfModule mod_setenvif.c>
        BrowserMatch ^Mozilla/4 gzip-only-text/html
        BrowserMatch ^Mozilla/4\.0[678] no-gzip
        BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
        BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
    </IfModule>
    <IfModule mod_headers.c>
        Header append Vary User-Agent env=!dont-vary
    </IfModule>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE text/css application/x-javascript text/x-component text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon
    </IfModule>
</IfModule>
<FilesMatch "\.(css|js|htc|CSS|JS|HTC)$">
    <IfModule mod_headers.c>
        Header set Pragma "public"
        Header append Cache-Control "public, must-revalidate, proxy-revalidate"
    </IfModule>
    FileETag MTime Size
</FilesMatch>
<FilesMatch "\.(html|htm|rtf|rtx|svg|svgz|txt|xsd|xsl|xml|HTML|HTM|RTF|RTX|SVG|SVGZ|TXT|XSD|XSL|XML)$">
    <IfModule mod_headers.c>
        Header set Pragma "public"
        Header append Cache-Control "public, must-revalidate, proxy-revalidate"
    </IfModule>
    FileETag MTime Size
</FilesMatch>
<FilesMatch "\.(asf|asx|wax|wmv|wmx|avi|bmp|class|divx|doc|docx|eot|exe|gif|gz|gzip|ico|jpg|jpeg|jpe|mdb|mid|midi|mov|qt|mp3|m4a|mp4|m4v|mpeg|mpg|mpe|mpp|otf|odb|odc|odf|odg|odp|ods|odt|ogg|pdf|png|pot|pps|ppt|pptx|ra|ram|svg|svgz|swf|tar|tif|tiff|ttf|ttc|wav|wma|wri|xla|xls|xlsx|xlt|xlw|zip|ASF|ASX|WAX|WMV|WMX|AVI|BMP|CLASS|DIVX|DOC|DOCX|EOT|EXE|GIF|GZ|GZIP|ICO|JPG|JPEG|JPE|MDB|MID|MIDI|MOV|QT|MP3|M4A|MP4|M4V|MPEG|MPG|MPE|MPP|OTF|ODB|ODC|ODF|ODG|ODP|ODS|ODT|OGG|PDF|PNG|POT|PPS|PPT|PPTX|RA|RAM|SVG|SVGZ|SWF|TAR|TIF|TIFF|TTF|TTC|WAV|WMA|WRI|XLA|XLS|XLSX|XLT|XLW|ZIP)$">
    <IfModule mod_headers.c>
        Header set Pragma "public"
        Header append Cache-Control "public, must-revalidate, proxy-revalidate"
    </IfModule>
    FileETag MTime Size
</FilesMatch>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTP_HOST} ^popularautomatch.com [NC]
	RewriteRule ^(.*)$ https://www.popularautomatch.com/$1 [L,R=301]
	RewriteBase /
	Redirect 301 /.login// /index.php
	Redirect 301 /writeus.aspx /feedback.php
	Redirect 301 /Default.aspx /index.php
	Redirect 301 /vehicles.html /pulsar.php
	Redirect 301 /Pulsar200ns.html /pulsar/pulsarns200.php
	Redirect 301 /Pulsar220.html /pulsar/pulsar220f.php
	Redirect 301 /Pulsar180.html /pulsar/pulsar180.php
	Redirect 301 /Pulsar150.html /pulsar/pulsar150.php
	Redirect 301 /Pulsar135LS.html /pulsar/pulsar135ls.php
	Redirect 301 /Ninja300.html /index.php
	Redirect 301 /Ninja650.html /index.php
	Redirect 301 /Avenger220DTS.html /avenger.php
	Redirect 301 /Platina.html /platina
	Redirect 301 /discover150.html /discover
	Redirect 301 /discover125st.html /discover
	Redirect 301 /discover125.html /discover
	Redirect 301 /discover100.html /discover
	Redirect 301 /enquiry.aspx /contact.php
	Redirect 301 /booking.aspx /booknow.php
	Redirect 301 /Gallery.html /gallery.php
	Redirect 301 /Corporate.html /about.php
	Redirect 301 /Contact.aspx /contact.php
	Redirect 301 /Locate.aspx /our_networks.php
	Redirect 301 /Dominar400.html /dominar-400
	Redirect 301 /BajajRE445.html /index.php
	Redirect 301 /Career.aspx /career.php
	Redirect 301 /CT100.html /ct100
	Redirect 301 /Ninja250.html /index.php
	Redirect 301 /PulsarAS200.html /pulsar/pulsaras.php
	Redirect 301 /PulsarRS200.html /pulsar/pulsarrs200.php
	Redirect 301 /KTMRC200.html /index.php
	Redirect 301 /200Duke.html /index.php
	Redirect 301 /Seasons.swf /index.php
	Redirect 301 /BajajV.html /v
	Redirect 301 /AvengerStreet220.html /Avenger/street220.php
	Redirect 301 /PulsarAS150.html /pulsar/pulsaras.php
	Redirect 301 /AvengerCruise220.html /Avenger/cruise220.php
	Redirect 301 /390Duke.html /index.php
	Redirect 301 /RC390.html /index.php
	Redirect 301 /buyit.aspx?md=Ninja650R /index.php
	Redirect 301 /buyit.aspx?md=Ninja250R /index.php
	Redirect 301 /buyit.aspx?md=BajajV /booknow.php
	Redirect 301 /buyit.aspx?md=CT100 /booknow.php?model=CT%20100
	Redirect 301 /RC200.html /index.php
	Redirect 301 /AvengerStreet150.html /Avenger/street150.php
	Redirect 301 /buyit.aspx?md=Dominar400 /booknow.php?model=Dominar
	Redirect 301 /KTMRC390.html /index.php
	Redirect 301 /platina.html /Platina
	Redirect 301 /buyit.aspx?md=KTMRC390 /index.php
	Redirect 301 /buyit.aspx?md=Discover150 /booknow.php
	Redirect 301 /buyit.aspx?md=AvengerCruise220 /booknow.php
	Redirect 301 /buyit.aspx?md=Pulsar150DTS-i /booknow.php
	Redirect 301 /buyit.aspx?md=KTMDuke390 /index.php
</IfModule>
